body {
  min-height: 100vh;
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.navbar-header {
  width: 100%; }
  .navbar-header .btn {
    float: right;
    margin: 14px 0; }

.alert-success {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 0; }
