<h2>Welcome user!</h2>
<h3>Type something here:</h3>
<form name="myForm" data-ng-submit="getUserInput($event, userInput)">
    <fieldset class="row">
        <div class="col-lg-12 form-group">
            <input type="text" class="form-control" name="input" id="inputText" data-ng-model="userInput" data-ng-maxlength="255" placeholder="Your text" required>
        </div>
        <div class="col-lg-12 form-group">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>
<h3>Or...</h3>
<a href="/#!table" class="btn btn-primary btn-block">check what's already there!</a>
<div class="alert alert-dismissible alert-success" data-ng-repeat="alert in alerts">
    <strong>Entry added!</strong>
    <button type="button" class="close" data-ng-click="dismissAlert()">&times;</button>
</div>