<h2>Enter your email to log in</h2>
<form name="loginForm" data-ng-submit="login($event, loginData)">
    <fieldset class="row">
        <div class="col-lg-12 form-group">
            <input type="email" class="form-control" name="input" id="inputEmail" data-ng-model="loginData" placeholder="Email" required>
            <span class="text-danger" ng-show="loginForm.input.$error.email">This is not valid a email</span>
        </div>
        <div class="col-lg-12 form-group">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </fieldset>
</form>