<h2>Latest entries</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Hash</th>
            <th>Input</th>
            <th>User email</th>
            <th>Creation date</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entry in Entries">
                <td>{{$index + 1}}</td>
                <td>{{entry.hash}}</td>
                <td>{{entry.input}}</td>
                <td>{{entry.userEmail}}</td>
                <td>{{entry.creationDate | date:'HH:mm:ss MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>